@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .mainWrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: $white;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 24px;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}